.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #01b3ff;
    overflow: hidden;
}

.login-container a:hover {
    cursor: pointer;
}

.components-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.container-right {
    display: flex;
    position: fixed;
    right: 0;
    flex-direction: column;
    height: 100vh;
    width: 18%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 7px;
    padding: 4rem;
    gap: 1rem;
    overflow: hidden;
}

.btn-container {
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.btn-container .forgot-count-container {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.btn-container button {
    margin: 0;
}

.sapiens-image {
    width: 60%;
    padding: 0;
    margin: 0;
}

.create-count-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-family: 'robot', sans-serif;
    font-size: 15px;
}

.create-count-container a {
    font-family: 'robot', sans-serif;
    color: #01b3ff;
    align-self: center;
}
.forgot-count-container p {
    font-family: 'robot', sans-serif;
    width: 100%;
}

.forgot-count-container a {
    width: 100%;
    color: #01b3ff;
    font-family: 'robot', sans-serif;
}
.components-container h1 {
    text-align: center;
}
