.custom-input {
    border: 1px solid #00000062;
    border-radius: 10px;
    background-color: rgba(151, 150, 150, 0.103);
    font-family: 'Roboto', sans-serif;
}
.custom-input::placeholder {
    color: gray;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.custom-input:focus {
    border: 1.4px solid #01b3ff;
    outline: none;
}

.label-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label-container p {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

.label-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.custom-input {
    width: 100%;
    box-sizing: border-box;
    padding: 13px;
    width: 100%;
    border: 1px solid #00000062;
    border-radius: 10px;
    text-align: start;
}

.custom-input.error {
    border-color: red;
    background-color: #ffe6e6;
}

.error-message {
    font-size: 14px;
    margin-top: 4px;
    margin-left: 4px;
}
