.primary-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: absolute;
    margin-left: 25px;
    border: 2px solid black;
}

.disabled-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: absolute;
    margin-left: 25px;
}
