.primary-button {
    background-color: #01b3ff;
    color: black;
    border: none;
    padding: 13px 35px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    display: absolute;
}

.disabled-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 13px 20px;
    border-radius: 5px;
    display: absolute;
}

.disabled-button:hover {
    opacity: 1;
    cursor: not-allowed;
}
