.dashboard-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 85vh;
    padding: 20px;
    background-color: white;
    border-radius: 13px;
}

.form-user-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    flex: 0.4;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 13px;
}

.form-groups-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 13px;
}

.form-user-title {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.form-user-button-container {
    display: flex;
    align-items: end;
    height: 100%;
}

.form-groups-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.form-groups-title h1 {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    width: 100%;
}

.form-groups-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.form-groups-content p {
    margin: 0;
    color: rgba(0, 0, 0, 0.562);
}
.form-groups-content h2 {
    font-size: 22px;
    font-weight: 500;
}

.form-groups-left-info {
    display: flex;
    font-size: 20px;
    width: 100%;
    justify-content: center;
}

.members-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 13px;
    padding: 10px 0;
    padding-right: 20px;
    overflow-y: auto;
    scrollbar-color: #006d9b #f1f1f100;
}

.checkbox-item-dashboard {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-groups-icons {
    display: flex;
    gap: 30px;
    justify-content: end;
}

.add-member-icon {
    cursor: pointer;
    scale: 1.3;
    color: #006d9b;
}

.edit-group-icon {
    scale: 1.3;
    color: #006d9b;
    cursor: pointer;
}

.delete-group-icon {
    scale: 1.3;
    color: #006d9b;

    cursor: pointer;
}

.form-user-circle p {
    font-size: 50px;
    color: white;
}

.perfil-modal-input {
    display: flex;
}

.create-group-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    flex: 0.9;
    align-items: center;
    justify-self: center;
    border-radius: 13px;
}

.dashboard-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}
