.card-user {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 9px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    gap: 5px;
    background-color: #006d9b;
    margin-bottom: 10px;
}

.card-user p {
    display: block;
    margin: 0;
    padding: 0;
}

.first-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-email {
    color: white;
    font-size: small;
}
