.card-Body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 150px;
    height: 320px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: black;
    gap: 10px;
    font-weight: 100;
}
.card-Body:hover {
    box-shadow: 0 0 10px blue;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    flex-direction: row;
}

.icon-click {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.card-Body h1 {
    font-size: 26px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.description-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.description-container:hover {
    cursor: pointer;
}
