.card-Body {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #01b3ff;
    padding: 20px;
    border-radius: 20px;
    width: 150px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
    border: 2px solid black;
}
.card-Body:hover {
    box-shadow: 0 0 10px rgba(13, 110, 221, 0.9);
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    flex-direction: row;
}

.icon-click {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.card-Body h1 {
    font-size: 23px;
}
